* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  max-width: 100%;
}

/* CLASSES */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  flex-basis: calc((100% - 80px) / 3);
}

.second-img {
  position: absolute;
  z-index: -1;
}

.card:hover .second-img {
  z-index: 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(237, 114, 46);
  align-items: center;
}

nav ul,
header div ul {
  padding: 20px;
  display: flex;
  list-style: none;
}

header nav ul li a,
header div ul li {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

header ul li img {
  width: auto;
  height: 20px;
}

header img {
  width: auto;
  height: 30px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 800px;
  padding: 20px 0;
  background-color: black;
  color: white;
}

footer ul {
  display: flex;
  list-style: none;
  padding: 5px 0;
}

footer ul li {
  padding-right: 10px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

footer img {
  width: auto;
  height: 20px;
}

/* LABELS */

.label {
  position: absolute;
  display: inline-block;
  left: 0px;
  bottom: 15%;
  color: white;
}
.discount {
  background-color: red;
  padding: 3px 5px;
}

.green {
  background-color: green;
}

/* DESCRIPTIONS */

.card ul {
  list-style: none;
}

.card ul li:nth-child(odd) {
  color: grey;
  font-size: 13px;
}

.card ul li:last-child :nth-child(odd) {
  color: red;
}

/* HEARTS */

.hearts {
  position: absolute;
  display: inline-block;
  background-color: white;
  padding: 10px 13px;
  top: 8px;
  right: 0px;
  font-size: 15px;
}

.hearts:hover {
  color: red;
}
